{% set templates = [] %}


{% for client in clients %}
    {% if 'security-admin-console' != client.clientId and 'admin-cli' != client.clientId and  'broker' != client.clientId and 'account' != client.clientId and 'realm-management' != client.clientId %}

        {% if client.serviceAccountsEnabled %}namespace service-account #Lavender { {% endif %} 
            class "{{client.clientId}}" << (C,DarkSlateBlue) Client >> {
                {% if client.bearerOnly %} {static} bearerOnly: {{client.bearerOnly}}{% endif %}   
                {% if client.standardFlowEnabled %} {static} standardFlowEnabled: {{client.standardFlowEnabled}}{% endif %}
                {% if client.implicitFlowEnabled %} {static} implicitFlowEnabled: {{client.implicitFlowEnabled}}{% endif %}  
                {% if client.directAccessGrantsEnabled %} {static} directAccessGrantsEnabled: {{client.directAccessGrantsEnabled}}{% endif %}
                {% if client.serviceAccountsEnabled %} {static} serviceAccountsEnabled: {{client.serviceAccountsEnabled}}{% endif %}
                {% if client.publicClient %} {static} publicClient: {{client.publicClient}}{% endif %}    
                {% if client.fullScopeAllowed %} {static} fullScopeAllowed: {{client.fullScopeAllowed}}{% endif %}   
                '''''''''''''''' {{ skipRoles }}
                {% if skipRoles %}
                    {% include "client_scopes.jinja2" %}
                {% else %}
                    {% if client.additionalRoles  %}
                        {% include "client_roles.jinja2" %}
                    {% endif %}
                {% endif %}
            }
            {% if client.description and note %}note bottom : {{client.description}}{% endif %}    
        {% if client.serviceAccountsEnabled %}}{% endif %}   

        {% if client.clientTemplate %}
            {% include "client_template.jinja2" %}
        {% endif %} 

        {% if client.serviceAccountsEnabled %}
            "{{realm}}" *-- "service-account.{{client.clientId}}"
        {% else %} 
            "{{realm}}" *-- "{{client.clientId}}"
        {% endif %}  
    {% endif %}
{% endfor %}




