{% if legend == true %}
legend right
|<color:#black>**Legend**</color> |
|<color:#orchid>Realm roles </color>|
|<color:#DarkSlateBlue>Client</color>|
|<color:#LightBlue>Client template </color>|
|<color:#GreenYellow>Client roles </color>|
endlegend
{% endif %}