{% for roleC,detail in roles.client %}
{% if 'broker' != roleC and 'offline_access' != roleC and 'uma_authorization'!= roleC and 'realm-management' != roleC and 'account' != roleC%}
{% for role in detail %}
class "{{role.name}}" << (r,GreenYellow) Role >> {
    {static} scopeParamRequired: {{role.scopeParamRequired}}   
    {static} composite: {{role.composite}}  
    {static} clientRole: {{role.clientRole}}  
}
"{{roleC}}" *-- "{{role.name}}"
{% if role.description and note %}note left: {{role.description}}{% endif %}
{% endfor %}
{% endif %}
{% endfor %}